<launch>
  <param name="/use_time" value="true" />

  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/e100.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
  -configuration_directory $(find cartographer_ros)/configuration_files
  -configuration_basename 2d_structured.lua"
  output="screen">
  <remap from="scan" to="scan"/>
  <remap from="imu" to="lpms_nav/imu_data"/>
  <remap from="odom" to="odom"/>
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find cartographer_ros)/configuration_files/test_2d.rviz" />
</launch>
